.feed-content {
  width: 100%;
  margin-bottom: 16px;
  font-size: 16px;

  &--list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &--grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 8px;
    row-gap: 16px;
  }
}

.feed-content--list {
  .feed-item {
    display: flex;
    align-items: center;

    &__media {
      width: 86px;
      flex-shrink: 0;
    }

    &__image {
      width: 100%;
      height: auto;
    }

    &__content {
      display: flex;
      flex: 1;
      justify-content: space-between;
      padding: 16px 80px 26px 30px;
    }

    &__col {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &__stats {
      display: flex;
      gap: 18px;
    }

    &__stat {
      display: flex;
      gap: 6px;
    }
  }
}

.feed-content--grid {
  .feed-item {
    display: block;

    &__media {
      width: 203px;
    }

    &__image {
      width: 100%;
      height: auto;
    }

    &__content {
      padding: 12px 12px 18px 12px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      column-gap: 8px;
      row-gap: 24px;
    }

    &__title,
    &__date {
      margin-bottom: 7px;
    }

    &__stat {
      display: flex;
      gap: 6px;
      margin-bottom: 6px;
      font-size: 14px;
    }

    &__type {
      font-size: 14px;
    }

    &__upload-date {
      font-size: 12px;
    }

    &__col:nth-child(1) {
      grid-column: 1 / 2;
    }

    &__col:nth-child(2) {
      grid-column: 2 / 3;
    }

    &__col:nth-child(3) {
      grid-column: 1 / -1;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.feed-item {
  opacity: 0;
  transform: translateY(12px);
  animation: fadeInUp 0.4s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.loadMore-btn {
  border: 1px solid #929292;
  border-radius: 14px;
  padding: 8px 26px;
  margin: 0 auto;
  display: block;
  margin-bottom: 60px;
  text-transform: uppercase;
  color: #929292;
  font-size: 11px;
  height: 28px;
  line-height: 1;
}
