.background-decor {
  position: absolute;
  z-index: 0;
  pointer-events: none;

  svg {
    width: 100%;
    height: 100%;
    display: block;
  }

  &--top {
    top: 0;
    left: 0;
    height: 480px;
  }

  &--bottom {
    right: 0;
    bottom: 0;
    width: 210px;
    height: 315px;
  }
}
