.profile {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 86px;
  padding: 6px 0 28px;
  position: relative;
  z-index: 1;
  box-shadow: 0 -4px 24px rgba(0, 0, 0, 0.06), 0 4px 24px rgba(0, 0, 0, 0.12);

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.67);
    z-index: -1;
  }

  &__avatar {
    width: 138px;
    height: 138px;
  }

  &__avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__info-top {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 15px;
  }

  &__name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
  }

  &__startDate {
    font-size: 13px;
    font-weight: 400;

    color: #3d8eda;
    border: 1px solid #3d8eda;
    border-radius: 2px;

    padding: 6px 12px;
  }

  &__stats {
    display: flex;
    align-items: center;
    margin-bottom: 19px;
  }

  &__stats-item {
    font-size: 14px;
  }

  &__stats-item:nth-child(1) {
    margin-right: 28px;
  }

  &__stats-item:nth-child(2) {
    margin-right: 17px;
  }
}
