.filters {
  display: flex;
  justify-content: end;
  gap: 21px;
  padding: 18px 5px 23px 5px;

  &__btn {
    width: 22px;
    height: 22px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #c8c7c7;
    transition: filter 0.2s ease, color 0.2s ease;

    &:hover {
      filter: brightness(0.8);
    }

    &--active {
      color: #2f80ed;

      &:hover {
        filter: brightness(0.9);
      }
    }
  }

  &__btn-list {
    width: 24px;
  }

  &__icon rect {
    fill: currentColor;
  }
}
